<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>收集表单数据</title>
    <script src="../js/vue.js"></script>
</head>
<body>
    <div id="root">
        <!-- v-model的三个修饰符
            lazy：失去焦点后再收集数据
            number: 输入字符转为有效的数字
            trim：过滤首尾空格的输入 -->
        <form @submit.prevent="demo">
            账号：<input type="text" v-model.trim="userInfo.account"> <br><br>
            密码：<input type="password" v-model="userInfo.password"><br><br>
            年龄：<input type="number" v-model.number="userInfo.age">
            
            性别：
            男<input type="radio" name="sex" v-model="userInfo.sex" value="男">
            女<input type="radio" name="sex" v-model="userInfo.sex" value="女"> <br><br>

            爱好：
            学习<input type="checkbox" v-model="userInfo.hobby" value="study">
            吃饭<input type="checkbox" v-model="userInfo.hobby" value="eat">
            睡觉<input type="checkbox" v-model="userInfo.hobby" value="sleep">
            <br><br>

            四大名著
            <select name="" id="" v-model="userInfo.book">
                <option value="">请选择</option>
                <option value="红楼梦">红楼梦</option>
                <option value="三国演义">三国演义</option>
                <option value="水浒传">水浒传</option>
                <option value="西游记">西游记</option>
            </select><br><br>

            其他信息：
            <textarea v-model.lazy="userInfo.other" name="" id="" cols="30" rows="10"></textarea> <br><br>

            <input type="checkbox" v-model="userInfo.agree"> 阅读并接受<a href="">《用户协议》</a>

            <button>提交</button>
        </form>
    </div>

    <script>
        Vue.config.productionTip = false
        new Vue({
            el: '#root',
            data: {
                userInfo: {
                    account: '',
                    password: '',
                    sex: '男',
                    hobby: [],
                    book: '',
                    other: '',
                    agree: '',
                    age:''
                }
            },
            methods: {
                demo(){
                    console.log(JSON.stringify(this.userInfo))
                }
            },
        })
    </script>
</body>
</html>